<div>
	<p>NORA
	<br>Soy una estudiante del Grado en Ingenierìa de Tecnologìas y Servicios de Telecomunicaciones.
	Se programar en android, javascript, html y java. Tengo cualidades para adquirir nuevos conocimientos y transmitirselos a otras personas. En mi tiempo libre me dedico a leer, escuchar música y pasear. </p>
</div>

<div>
	<p>KARLA
	<br>Soy una estudiante del Grado en Ingenierìa de Tecnologìas y Servicios de Telecomunicaciones.
	Se programar en android, javascript, html y java y me encanta el diseño de páginas web. Mis aficiones son jugar con mi perro, escuchar música, jugar al fùtbol y escribir poemas. </p>
</div>

<div>
	<p>ERIK
	<br>Soy un estudiante de Ingenierìa de Telecomunicaciones. Durante la carrera he aprendido a programar en java, android, javascript, html y php. Me gusta programar y aplicar lo aprendido a casos reales. Mis hobbies son jugar con el perro de mi novia y jugar al fùtbol. </p>
</div>